/* stylelint-disable */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

* {
  margin: 0;
  padding: auto;
}

html,
body {
  background-color: rgb(18, 17, 17);
  font-family:  'Titillium Web', sans-serif;
  font-size: 1rem;
  color: white;
}

.c-canvas {
  position: fixed;
  top: 0;
  left: 0;

}

.c-container {
  padding: 20rem
}
.c-section {
  margin-top: 7rem;
  text-align: right;
  &__header {
    font-size: 7rem;
    margin-bottom: 9rem;
  }
  &__p {
    font-size: 2.5rem;
    margin-bottom: 20rem;
  }
}
